/*** slideshow ***/

.cycle-slide
{
    position: static;
    top: 0px;
    left: 0px;
    z-index: 100;
    opacity: 1;
    display: block;
    visibility: hidden;

}

#slideshowbox {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    z-index: 6500;
    width: 100%;
    /*max-height: 700px;*/
    overflow: hidden;
}

#slideshow, #slideshow li
{		
	width:100%;
	height:auto;
	text-align:center;
	margin-bottom:0px;
}

#slideshow li img
{		
	width:100%;
	height:auto;
	margin:0px auto;
    
}

#slidebuttons, .owl-nav
{
	position:absolute;
	width:36px;
	height:19px;
	z-index:1000;
	display:block;
	top:455px;
	left:calc(50% + 466px);
}

#slidebuttons a, .owl-nav div
{
	width:9px;
	height:19px;
	display:block;
	float:left;
}

#prev, .owl-prev
{
	background:url(/gfx/prev.png);
}

#next, .owl-next
{
	background:url(/gfx/next.png);
	margin-left:12px;
}

@media screen and (max-width:1200px) 
{		
	#slideshowbox
	{
		height:auto;
		min-height:1px;
	}

	#slideshow li img
	{
		min-width:1px;
	}
		
	#slideshowbox div.wrapper 
	{
		width:100%;
		margin-left:0px;
	}

	#slideshowbox div.fixedwidth
	{
		margin-left:0px;
		margin-top:-30px;
	}	
    #slideshowbox {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    z-index: 6500;
    width: 100%;
    /*max-height: 700px;*/
    overflow: hidden;
}

@media screen and (max-width:990px)
{
	#slideshowbox div.pushtext
	{
		height:240px;
	}

	#slidebuttons, .owl-nav
	{
		top:450px !important;
	}
}

@media screen and (min-width:1200px){
	
}

@media screen and (min-width:801px) and (max-width:1199px) {
	
}

@media screen and (min-width:731px) and (max-width:800px)
{
	
}

@media screen and (min-width:768px)
{	
	#slideshowbox:hover #pager
	{
		display:block;
	}

	#prev, .owl-prev
	{
		left:0px;
	}

	#next, .owl-next
	{
		right:0px;
	}			
}

@media screen and (max-width:767px) 
{		
	#slideshowbox div.wrapper, #pager, #prev, #next, .owl-nav {
		display:none;
	}

	#slideshow li img {
		width:100%;
	}		
}

@media screen and (max-width:599px) 
{
	
}