# Helicon ISAPI_Rewrite configuration file
# Version 3.1.0.60

RewriteEngine On
RewriteCompatibility2 On
RepeatLimit 200
RewriteBase

# redirect all requests  to www.lyonsplace.co.uk
RewriteCond %{HTTP:Host} ^(?!www\.lyonsplace\.co\.uk).*$
RewriteRule (.*) https\://www\.lyonsplace\.co.uk$1 [NC,R=301]

RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://www.lyonsplace.co.uk$1 [R,L]

#contact
#RewriteRule ^/contact-us$ /Contact.aspx?section=contact-us [NC,U,O,L]
RewriteRule ^/event$ /Contact.aspx [NC,U,O,L]


#properties
RewriteRule ^/apartments$ /PropertyT.aspx?propertytype=1 [NC,U,O,L]
RewriteRule ^/townhouses$ /PropertyT.aspx?propertytype=2 [NC,U,O,L]
RewriteRule ^/duplex-penthouse$ /PropertyT.aspx?propertytype=3 [NC,U,O,L]

#misc
RewriteRule ^/currently-released$ /Releases.aspx [NC,U,O,L]
RewriteRule ^/team$ /Team.aspx [NC,U,O,L]
RewriteRule ^/neighbourhood$ /NeighbourhoodNew.aspx [NC,U,O,L]
RewriteRule ^/neighbourhoodnew$ /NeighbourhoodNew.aspx [NC,U,O,L]
RewriteRule ^/neighbourhoodnew2$ /NeighbourhoodNew.aspx [NC,U,O,L]
RewriteRule ^/neighbourhoodnew3$ /NeighbourhoodNew.aspx [NC,U,O,L]

#blog
RewriteRule ^/blog/(([a-z]|-|[0-9])+)/(([a-z]|-|[0-9])+)$ /BlogItem.aspx?blogcategory=$1&blog=$3 [NC,U,O,L]
RewriteRule ^/blog/(([a-z]|-|[0-9])+)$ /BlogList.aspx?blogcategory=$1 [NC,U,O,L]
RewriteRule ^/blog$ /BlogList.aspx [NC,U,O,L]

# General rewriting
#RewriteRule ^/(about|contact)$ /Content.aspx?page=$1 [NC,U,O,L]
RewriteRule ^/(([a-z]|-|[0-9])+)/(([a-z]|-|[0-9])+)$ /Content.aspx?section=$1&page=$3 [NC,U,O,L]
RewriteRule ^/(([a-z]|-|[0-9])+)$ /Content.aspx?section=$1 [NC,U,O,L]


# General rewriting

RewriteRule ^/event$ /Contact.aspx [NC,U,O,L]